{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<div class="panel panel-success" id="asdf">
<div class="panel-heading"><h3 class="panel-title">Devices</h3></div>
<div class="panel-body">

{{ device.address }}

<table class="datatable table table-striped table-bordered">
	<tr>
		<th>Nr.</th>
        <th colspan="2">Takeoff</th>
        <th colspan="2">Landing</th>
        <th>AGL</th>
	</tr>
	{% for entry in device.logbook %}
	<tr>
		<td>{{ loop.index }}</td>
        <td>{% if entry.takeoff_timestamp is not none %} {{ entry.takeoff_timestamp.strftime('%H:%M') }} {% endif %}</td>
        <td>{% if entry.takeoff_track is not none %} {{ '%02d' | format(entry.takeoff_track) }} {% endif %}</td>
        <td>{% if entry.landing_timestamp is not none %} {{ entry.landing_timestamp.strftime('%H:%M') }} {% endif %}</td>
        <td>{% if entry.landing_track is not none %} {{ '%02d' | format(entry.landing_track) }} {% endif %}</td>
        <td>{% if entry.max_altitude is not none %} {{ entry.max_altitude }} {% endif %}</td>
	</tr>
	{% endfor %}
</table>

</div>
</div>

{% endblock %}