{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Device Details</h3></div>
<table class="datatable table table-striped table-bordered">
	<tr><td>Name:</td><td>{{ device.name }}</td></tr>
	<tr><td>Address:</td><td>{{ device.address }}</td></tr>
	<tr><td>Real Address:</td><td>{{ device.real_address }}</td></tr>
	<tr><td>Stealth:</td><td>{{ device.stealth }}</td></tr>
	<tr><td>Aircraft Type:</td><td>{{ device.aircraft_type }}</td></tr>
	<tr><td>Software Version:</td><td>{{ device.software_version }}</td></tr>
	<tr><td>Hardware Version:</td><td>{{ device.hardware_version }}</td></tr>
	<tr><td>First seen:</td><td>{{ device.firstseen }}</td></tr>
	<tr><td>Last seen:</td><td>{{ device.lastseen }}</td></tr>
</table>
</div>

</div>

{% endblock %}