{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Logbook</h3></div>
<div class="panel-body">

<form>
<div class="well">
<select name="country" onchange="this.form.submit();">
	<option value="">(none)</option>
    {% for country in countries %}
    <option value="{{ country.iso2 }}"{% if sel_country == country.iso2 %} SELECTED{% endif %}>{{ country.iso2 }}</option>
    {% endfor %}
</select>
<select name="airport" onchange="this.form.submit();">
	<option value="">(none)</option>
    {% for airport in airports %}
    <option value="{{ airport.id }}"{% if sel_airport == airport.id|string() %} SELECTED{% endif %}>{{ airport.name }}</option>
    {% endfor %}
</select>
<select name="date" onchange="this.form.submit();">
	<option value="">(none)</option>
    {% for date in dates %}
    <option value="{{ date[0] }}"{% if sel_date|string() == date[0]|string() %} SELECTED{% endif %}>{{ date[0] }} ({{ date[1] }})</option>
    {% endfor %}
</select>
</div>
</form>


{% if entries is not none %}
<table class="datatable table table-striped table-bordered">
	<tr>
		<th>Nr.</th>
        <th>Aircraft</th>
        <th>Type</th>
        <th colspan="2">Takeoff</th>
        <th colspan="2">Landing</th>
        <th>AGL</th>
	</tr>
	{% for entry in entries %}
	{% set logbook = entry[0] %}
	{% set device = entry[1] %}
	{% set device_info = entry[2] %}
	<tr>
		<td>{{ loop.index }}</td>
        <td><a href="{{ url_for('device', id=device.id) }}">{{ device_info.registration }}</a></td>
        <td>{{ device_info.aircraft }}</td>
        <td>{% if logbook.takeoff_timestamp is not none %} {{ logbook.takeoff_timestamp.strftime('%H:%M') }} {% endif %}</td>
        <td>{% if logbook.takeoff_track is not none %} {{ '%02d' | format(logbook.takeoff_track/10) }} {% endif %}</td>
        <td>{% if logbook.landing_timestamp is not none %} {{ logbook.landing_timestamp.strftime('%H:%M') }} {% endif %}</td>
        <td>{% if logbook.landing_track is not none %} {{ '%02d' | format(logbook.landing_track/10) }} {% endif %}</td>
        <td>{% if logbook.max_altitude is not none %} {{ logbook.max_altitude }} {% endif %}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
</div>
</div>

{% endblock %}