{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Airport Details</h3></div>
<table class="datatable table table-striped table-bordered">
	<tr><td>Name:</td><td>{{ airport|to_html_flag|safe }}{{ airport.name }}</td></tr>
	<tr><td>Code:</td><td>{{ airport.code }}</td></tr>
	<tr><td>Altitude:</td><td>{{ airport.altitude|int }} m</td></tr>
	<tr><td>Style:</td><td>{{ airport.style }}</td></tr>
	<tr><td>Description:</td><td>{{ airport.description }}</td></tr>
	<tr><td>Runway Direction:</td><td>{{ airport.runway_direction }}</td></tr>
	<tr><td>Runway Length:</td><td>{{ airport.runway_length }} m</td></tr>
	<tr><td>Frequency:</td><td>{{ airport.frequency }} MHz</td></tr>
</table>
</div>

<div class="panel panel-success">
	<div class="panel-heading"><h3 class="panel-title">Receivers</h3></div>
	<table class="datatable table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Version</th>
			<th>Platform</th>
		</tr>
	
		{% for receiver in airport.receivers %}
		<tr>
			<td><a href="{{ url_for('main.receiver_detail', receiver_id=receiver.id) }}">{{ receiver.name }}</a></td>
			<td>{{ receiver.state.name }}</td>
			<td>{{ receiver.version if receiver.version else '-' }}</td>
			<td>{{ receiver.platform if receiver.platform else '-' }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Seen Senders</h3></div>
<table class="datatable table table-striped table-bordered">
    <tr>
		<th>Name</th>
		<th>Last takeoff/landing</th>
		<th>Hardware version</th>
		<th>Software version</th>
    </tr>

	{% for sender in senders %}
	<tr>
		<td>{{ sender|to_html_link|safe }}</td>
		<td>{% if sender.takeoff_landings %}{% set last_action = sender.takeoff_landings|last %}{% if last_action.is_takeoff %}↗{% else %}↘{% endif %} @ {{ last_action.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}{% endif %}
		<td>{% if sender.hardware_version is not none %}{{ sender.hardware_version }}{% else %}-{% endif %}</td>
		<td>{% if sender.software_version is not none %}{{ sender.software_version }}{% else %}-{% endif %}</td>
	</tr>
	{% endfor %}
</table>
</div>

</div>

{% endblock %}