{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Devices</h3></div>
<div class="panel-body">
  <table class="datatable table table-striped table-bordered">
    <tr>
      <th>Address</th>
      <th>Registration</th>
      <th>Software version</th>
    </tr>

    {% for device in devices %}
	<tr>
	  <td><a href="{{ url_for('main.device_detail', id=device.id) }}">{{ device.address }}</a></td>
	  <td>{% if device.info is not none %}{{ device.info.registration }}{% else %} - {% endif %}</td>
	  <td {% if device.software_version and device.software_version < 6.6 %}class="danger"{% endif %}>{% if device.software_version is not none %}{{ device.software_version }}{% else %} - {% endif %}</td>
	</tr>
	{% endfor %}
  </table>
</div>
</div>

{% endblock %}
