{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/flags/flags.css') }}"/>

<div class="container">
<div class="panel panel-success">
<div class="panel-heading"><h3 class="panel-title">Sender Ranking</h3></div>
<div class="panel-body">
  <table id="myTable" class="datatable table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Aircraft</th>
        <th class="text-right">Maximum distance [km]</th>
        <th class="text-right">Receiver counter</th>
        <th class="text-right">Coverage counter</th>
        <th class="text-right">Message counter</th>
      </tr>
    </thead>

    <tbody>
      {% for entry in ranking %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{% if entry.sender.infos|length > 0 and entry.sender.infos[0].country is not none %}{{ entry.sender.infos[0].country|to_html_flag|safe }} {% endif %}{{ entry.sender|to_html_link|safe }}</a></td>
        <td>{% if entry.sender.infos|length > 0 %}{{ entry.sender.infos[0].aircraft }}{% else %}-{% endif %}</td>
        <td class="text-right">{{ '%0.1f' | format(entry.max_distance/1000.0) }}</td>
        <td class="text-right">{{ entry.receivers_count }}</td>
        <td class="text-right">{{ entry.coverages_count }}</td>
        <td class="text-right">{{ entry.messages_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(function() {
      $("#myTable").tablesorter({
          stringTo:"bottom",
          theme:"bootstrap",
          headerTemplate:"{content} {icon}",
          widgets:["uitheme"]
        });
    });
  </script>
{% endblock %}
